<% content_for :title do %>
<title>Eventalent - Events</title>
<% end %>

<% content_for :css do %>
<style>
.events_container{
	width:75%;
	min-width:900px;
	min-height:600px;
	margin: 0px auto 0px;
	padding-top:100px;
}

#eventsTable{
	width:100%;
	margin:20px 0 100px 0;
	border-collapse:separate;
	border-spacing:4px 10px;
}
#eventsTable tr td{
	padding:0 8px 0 8px;
	height:60px;
	text-align: center;
	font-size:15px;
	background:rgba(196,233,155,0.5);
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out; 
	-o-transition: background-color 0.3s ease-in-out; 
	-ms-transition: background-color 0.3s ease-in-out;
}
#eventsTable tr td.left{
	border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
}
#eventsTable tr td.right{
	border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}
#eventsTable tr:hover td{
	background:rgba(102,144,97,1);
	color: #fff;
	cursor:pointer;
}
.alert-shade{
	height:100%;
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	background-color:rgba(0,0,0,0.7);
	display:none;
}
.alert-div{
	font-family:"gotham_boldregular";
	padding: 50px;
	width:450px;
	height:100px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left: -250px;
	margin-top: -125px;
	background-color: #e1e7d4;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	text-align:center;
}
.alert-div p{
	font-size:20px;
}
.close-alert{
	font-family:"gotham_bookregular";
	font-size:16px;
}
#alert{
	color:red;
	font-family:"gotham_bookregular";
}
</style>
<% end %>


<div class='extentfull'>
  <div class='events_container'>
  	<% if alert %><p id="alert"><%= alert %></p><% end %>
  	<h2 style='color:#666'>MY EVENTS</h2>
  	  <% if @events.nil? %>
  	    <p style='color:red'><%=@error%></p>
  	  <% else %>
	  	<table id='eventsTable'>
		  <tr>
		  	<th>RSVP</th>
		    <th>Name</th>
		    <th>Creator</th>
		    <th>Start Time</th>
		    <th>Size</th>
		  </tr>
		
		  <% @events.each do |event| %>
			  <tr event='event/<%= event['eid'] %>' count='<%= event['attending_count'] %>' class='events_row'>
			  	<td class='left'><%= event['rsvp_status'] %></td>
			    <td><%= event['name'] %></td>
			    <td><%='<b>' if event['creator_friend'] %><%= event['creator_name'] %><%='</b>' if event['creator_friend'] %></td>
			    <td><%= event['start_time'] %></td>
			    <td class='right'><%= event['attending_count'] %></td>
			  </tr>
		  <% end %>
		</table>
	  <% end %>
  </div>

  <div class='alert-shade'>
	<div class='alert-div'>
		<p>
			Sorry. This event has too many participants. We are not able to process it for now.
		</p><br />
		<button class="btn btn-primary btn-lg close-alert">
		  Close
		</button>

	</div>
  </div>
</div>



<script>
(function() {
  $(function(){
  	setTimeout(function(){
  		$('#alert').fadeOut();
  	},5000);
    $('.events_row').click(function(){
      if ( parseInt($(this).attr('count')) > 150)
      {
      	$('.alert-shade').fadeIn();
      	return false
      }
      $('.loading').fadeIn();
      var path = $(this).attr('event');
      window.location = path;
    });
    $('.close-alert').click(function(){
    	$('.alert-shade').fadeOut();
    })
  });

}).call(this);
</script>
