<!DOCTYPE html>
<!-- saved from url=(0076)http://threejsdoc.appspot.com/doc/three.js/examples/canvas_lines_sphere.html -->
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Eventalent - Event</title>
		<%= javascript_include_tag "application" %>
  		<%= javascript_include_tag "facebook" %>
  		<%= javascript_include_tag "Three.js" %>
  		<%= javascript_include_tag "Detector.js" %>
		<%= javascript_include_tag "RequestAnimationFrame.js" %>
		<%= javascript_include_tag "Stats.js" %>
		<%= javascript_include_tag "OrbitControls.js" %>
		<%= javascript_include_tag "List.js" %>
		<%= javascript_include_tag "json2.js" %>
		<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"%>
		<%= javascript_include_tag "jquery.collapse.js" %>	
		<%= javascript_include_tag "jquery.collapse_storage.js" %>
		<%= javascript_include_tag "jquery.collapse_cookie_storage.js" %>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<%= stylesheet_link_tag "main" %>
		<%= stylesheet_link_tag "none" %>
		<%= stylesheet_link_tag "jquery-ui" %>
		<%= yield :css %>
		
	</head>
	<body>
		<script>
		function refresh_fb(){
		    <% if @error %> 
		      FB.login(function(response) {
		        if (response.authResponse) {
		          window.location = '/auth/facebook/callback';
		        }
		      },{scope: 'user_friends,user_events,friends_events'});
		    <% end %>
	    }
    	</script>
		
		<%= yield %>

	</body>
</html>
